1. Ejercicio: Indentación correcta
Enunciado: Corrige el siguiente código para que funcione correctamente.

In [3]:
if 5 > 3:
    print("El número 5 es mayor que 3")

El número 5 es mayor que 3

2. Ejercicio: Asignación de variables
Enunciado: Asigna el valor 10 a la variable x y luego imprime el valor de x. Solución:

In [4]:
x = 10
print(x)

10

3. Ejercicio: Comparación de números
Enunciado: Crea una variable a con valor 7 y una variable b con valor 5. Compara si a es mayor que b e imprime el resultado. Solución:

In [5]:
a = 7
b = 5
print(a > b)  # True

True

4. Ejercicio: Concatenación de cadenas
Enunciado: Crea dos cadenas nombre = "Juan" y apellido = "Pérez". Imprime una nueva cadena que combine ambos valores con un espacio entre ellos. Solución:

In [6]:
nombre = "Juan"
apellido = "Pérez"
print(nombre + " " + apellido)  # Juan Pérez

Juan Pérez

5. Ejercicio: Comentarios
Enunciado: Escribe un comentario en tu código explicando lo que hace la siguiente línea:

In [7]:
# Asigna el valor 5 a la variable x
x = 5

6. Ejercicio: Uso de if
Enunciado: Escribe un programa que compare dos números y diga si son iguales.
a = 8
b = 8

In [8]:
a = 8
b = 8
if a == b:
    print("Son iguales")
else:
    print("Son diferentes")

Son iguales

7. Ejercicio: Bucles for
Enunciado: Escribe un ciclo for que imprima los números del 1 al 5. Solución:

In [9]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

8. Ejercicio: Uso de while
Enunciado: Escribe un ciclo while que imprima los números del 1 al 5. Solución:

In [10]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

9. Ejercicio: Función simple
Enunciado: Crea una función llamada saludo que reciba un nombre como parámetro y lo imprima junto con un saludo. Solución:

In [11]:
def saludo(nombre):
    print(f"Hola, {nombre}")

saludo("Ana")  # Hola, Ana

Hola, Ana

10. Ejercicio: Tipos de datos
Enunciado: Crea una variable edad con valor 25 y una variable nombre con valor "Carlos". Imprime el tipo de cada variable. Solución:

In [12]:
edad = 25
nombre = "Carlos"
print(type(edad))  # <class 'int'>
print(type(nombre))  # <class 'str'>

<class 'int'>
<class 'str'>

11. Ejercicio: Listas
Enunciado: Crea una lista llamada frutas que contenga "manzana", "banana" y "cereza". Imprime el primer y último elemento de la lista. Solución:

In [13]:
frutas = ["manzana", "banana", "cereza"]
print(frutas[0])  # manzana
print(frutas[-1])  # cereza

manzana
cereza

12. Ejercicio: Operadores aritméticos
Enunciado: Crea dos variables x = 8 y y = 4. Imprime el resultado de la suma, resta, multiplicación y división de x y y. Solución:

In [14]:
x = 8
y = 4
print(x + y)  # 12
print(x - y)  # 4
print(x * y)  # 32
print(x / y)  # 2.0

12
4
32
2.0

13. Ejercicio: Manejo de excepciones
Enunciado: Escribe un bloque de código que intente dividir 10 entre 0. Usa un bloque try y except para manejar la excepción de división por cero. Solución:

In [15]:
try:
    print(10 / 0)
except ZeroDivisionError:
    print("No se puede dividir entre cero")

No se puede dividir entre cero

14. Ejercicio: Tuplas
Enunciado: Crea una tupla llamada colores con los valores "rojo", "verde" y "azul". Imprime el valor del segundo color. Solución:

In [16]:
colores = ("rojo", "verde", "azul")
print(colores[1])  # verde

verde

15. Ejercicio: Diccionarios
Enunciado: Crea un diccionario persona con las claves "nombre", "edad" y "ciudad". Imprime el valor de la clave "nombre". Solución:

In [17]:
persona = {"nombre": "Laura", "edad": 30, "ciudad": "Madrid"}
print(persona["nombre"])  # Laura

Laura

16. Ejercicio: Modificar listas
Enunciado: Crea una lista numeros con los valores [1, 2, 3]. Agrega el número 4 al final de la lista y luego imprímela. Solución:

In [18]:
numeros = [1, 2, 3]
numeros.append(4)
print(numeros)  # [1, 2, 3, 4]

[1, 2, 3, 4]

17. Ejercicio: Uso de range
Enunciado: Usa la función range() para generar una lista de números del 2 al 10, de 2 en 2. Solución:

In [19]:
numeros = list(range(2, 11, 2))
print(numeros)  # [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

18. Ejercicio: Uso de input
Enunciado: Pide al usuario que ingrese su nombre mediante input() y luego imprímelo. Solución:

In [20]:
nombre = input("¿Cuál es tu nombre? ")
print(f"Hola, {nombre}")

¿Cuál es tu nombre?  rafa

Hola, rafa

19. Ejercicio: Función con valor de retorno
Enunciado: Crea una función llamada multiplicar que reciba dos números y retorne su producto. Solución:

In [21]:
def multiplicar(a, b):
    return a * b

resultado = multiplicar(4, 5)
print(resultado)  # 20

20

20. Ejercicio: Comprobación de tipo de datos
Enunciado: Crea una variable x con valor 10 y verifica si es un número entero. Imprime "Es entero" si es cierto, de lo contrario imprime "No es entero". Solución:

In [22]:
x = 10
if isinstance(x, int):
    print("Es entero")
else:
    print("No es entero")

Es entero